body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

h1, h2 {
    margin-bottom: 15px;
}

.register-form {
    background-color: #ffffff;
    padding: 20px;
    max-width: 400px;
    margin-bottom: 40px;
    border-radius: 6px;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
}

.register-form input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

.checkbox {
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Таблиця */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    background-color: white;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #e0e0e0;
}
